@use '@/app/Vars.scss' as *;

.puffin-banner {
  min-height: 199px;
  padding: 24px 28px;
  background-image: url('/images/join-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $colorMiddleBlue;
  border-radius: 32px;

  &__text {
    margin: 10px 0 30px;
    font-family: $fontMontserrat;
    color: $colorWhite;
    font-wught: 500;
    font-size: 19px;
    line-height: 23px;
  }
}
