@use '@/app/Vars.scss' as *;

.rush-leaderboard {
  position: fixed;
  top: 50px;
  bottom: 25px;
  width: 100%;
  transition: all 0.3s;
  z-index: -30;
  pointer-events: none;
  opacity: 0;

  &.active {
    z-index: 100;
    pointer-events: all;
    opacity: 1;
  }

  &__back {
    padding: 0 20px;
  }

  &__title {
    font-size: 40px !important;
    line-height: 46px !important;
  }

  &__place {
    min-width: 46px;
    padding: 0 8px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__text {
    font-weight: 300;
    font-family: $fontRowdies;
    color: $colorWhite;
  }

  &__num {
    font-size: 18px;
    font-weight: 700;
    font-family: $fontRowdies;
    color: $colorWhite;
  }
}
