@use '@/app/Vars.scss' as *;

.puffins-edit {
  padding: 16px 60px 34px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input-wrapper__icon {
      top: 57px;
    }
  }

  &__input {
    margin-top: 4px;
  }

  &__btns {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__btns-item {
    display: flex;
    gap: 9px;
  }

  &__btns-x,
  &__btns-discord {
    min-width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  &__btns-x {
    background-color: $colorMiddleGrey;
    border-bottom: 4px solid $colorDarkGrey;

    .puffins-edit__btns-icon path {
      stroke: $colorDarkGrey;
    }

    &:hover {
      background-color: $colorDarkGrey;
    }
  }

  &__btns-discord {
    background-color: $colorLightBlue;
    border-bottom: 4px solid $colorMiddleBlue;

    .puffins-edit__btns-icon path {
      stroke: $colorMiddleBlue;
    }

    &:hover {
      background-color: $colorMiddleBlue;
    }
  }

  &__submit {
    margin: 0 auto;
  }
}
