@use '@/app/Vars.scss' as *;

.puffin-tasks {
  &__top {
    height: 57px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    background-image: url('/images/eclipsis-task.png');
    background-color: $colorDarkGreen;
    border-bottom: 4px solid $colorMiddleGreen;
    border-radius: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
