@use '@/app/Vars.scss' as *;

.puffins-information {
  display: flex;
  align-items: center;
  gap: 26px;
  position: relative;

  &__left {
    min-width: 132px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    background: rgba($colorWhite, 0.2);
    border-radius: 12px;
    overflow: hidden;
  }

  &__fish {
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($colorWhite, 0.35);
    border-radius: 0 100px 100px 0;
  }

  &__count {
    padding-right: 8px;
  }

  &__count,
  &__name {
    color: $colorWhite;
    font-family: $fontRowdies;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  &__right {
    min-width: 266px;
    height: 68px;
    display: flex;
    align-items: center;
    background: rgba($colorWhite, 0.2);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
  }

  &__wrapper {
    padding-top: 2px;
  }

  &__name {
    margin-left: 28px;
  }

  &__lvl {
    margin-left: -7px;
    display: flex;
    align-items: center;
  }

  &__number {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontMontserrat;
    color: $colorWhite;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    border-radius: 100%;
    background-color: $colorMiddleGreen;
    position: relative;
    border-right: 1px solid rgba($colorWhite, 0.4);
  }

  &__line {
    width: 160px;
    height: 15px;
    margin-left: -6px;
    overflow: hidden;
    border: 1px solid #999999;
    border-radius: 20px;
  }
}
