.header-rush {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 20;
  transition: all 0.3s;

  &__wrapper {
    max-width: 1792px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  &__lead,
  &__sign {
    padding: 0 19px;
  }

  &__icon {
    padding: 0 7px;
  }

  &__actions {
    display: flex;
    gap: 20px;
  }
}
