// @import '/src/Vars.scss';

// filter: brightness(1) sepia(15%) saturate(400%);

// COLORS
$colorWhite: #fff;
$colorBlack: #000;
$colorLightGreen: #18cc6c;
$colorNeutralGreen: #03b05d;
$colorMiddleGreen: #009950;
$colorDarkGreen: #08be5d;
$colorBlackGreen: #096439;
$colorMintGreen: #aeffd9;
$colorBrightGreen: #00df74;
$colorDeepGreen: #00ac59;
$colorOpacityGreen: #003c1ccc;
$colorLightGrey: #494949;
$colorMiddleGrey: #5a5c63;
$colorDarkGrey: #464649;
$colorNeutralGrey: #a0a0a0;
$colorSkyBlue: #799ee4;
$colorBabyBlue: #4b68ff;
$colorCyanBlue: #2571ff;
$colorLightBlue: #5966d9;
$colorEasyBlue: #8196ff;
$colorMiddleBlue: #4552c7;
$colorDarkBlue: #1f3fe7;
$colorNeutralBlue: #144ed6;
$colorRoyalBlue: #3958f8;
$colorIndigoBlue: #4b68ffb2;
$colorNavyBlue: #2e44b1;
$colorCinkBlue: #0f59e4;
$colorLightSkyBlue: #92a3ff;
$colorMiddleSkyBlue: #617aff;
$colorDarkSkyBlue: #3e58e2;
$colorEasyOrange: #f2b029;
$colorMiddleOrange: #936300;
$colorLightYellow: #fffcaa;
$colorMiddleYellow: #e5de00;
$colorDarkYellow: #9a9500;
$colorLightRed: #d31111;
$colorMiddleRed: #d11d1d;

// FONTS
$fontMontserrat: 'Montserrat', sans-serif;
$fontBowlby: 'Bowlby One', cursive;
$fontRowdies: 'Rowdies', cursive;
$fontPlayStory: 'Play Story', sans-serif;
