@use '@/app/Vars.scss' as *;

.puffins-links {
  padding: 4px 13px;
  border-radius: 12px;
  background: rgba($colorWhite, 0.2);

  &__ul {
    display: flex;
    gap: 24px;
  }

  &__li {
    display: flex;
  }

  &__link {
    padding: 6px 12px;
    color: $colorWhite;
    font-family: $fontRowdies;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: transparent;
    text-transform: uppercase;
    border-radius: 12px;

    &:hover {
      background: rgba($colorWhite, 0.1);
    }
  }
}
